<div class="about-page">
  <div class="about-banner">
    <div class="about-sub-flexbox">
      <div class="road-box">
        <%= link_to 'ABOUT THE ROAD', about_road_path, class:'about-subtitle'%>
      </div>
      <div class="brand-box">
        <%= link_to 'ABOUT THE BRAND', about_brand_path, class:'about-subtitle'%>
      </div>
    </div>
  </div>
</div>
