<div class="adventure-page">
  <div class="adventure-banner">
    <div class="adventure-sub-flexbox">
      <%= link_to 'THE ROAD', adventures_road_path, class:'adventure-subtitle'%>
      <%= link_to 'YOUR TRIP', adventures_offer_path, class:'adventure-subtitle'%>
    </div>
  </div>
</div>
