<div class="adventures-pages">

  <%= link_to adventure_path do %>
    <i class="material-icons arrow-back">arrow_back</i>
  <% end %>

      <h3>L'offre Mama Moto</h3>

      <div class="mama-offer-box">

        <p>Je souhaite partager avec vous mes meilleurs road-books et mes plus belles adresses, loin des chemins touristiques, en Afrique du Sud, en Namibie ou au Lesotho.</p><br>

        <p class="bold">Voici les étapes de préparation de votre aventure :</p>

        <div class="card-mama-offer">
            <ul>
              <li> <i class="material-icons">portrait</i> Prise de contact: expliquez-moi quel motard (ou quelle motarde) vous êtes. Avez-vous déjà voyagé seul ? À moto? En off-road ? </li>
              <li> <i class="material-icons">access_time</i> Nous définissons une période de l'année en fonction de votre emploi du temps et des demandes ( les groupes sont constitués a partir de 5 riders ).</li>
              <li> <i class="material-icons">motorcycle</i> Nous choisissons une moto: BMW F700 GS, F800 GS, R1200 GS, R1200 Adventure... Vous pouvez aussi choisir de rouler sur des trails vintages des années 90, comme des Suzuki DR de 350 à 650 cm3 ou Yamaha Tenere XT 600.</li>
              <li> <i class="material-icons">done</i> Prise d'informations et validation du budget.</li>
            </ul>
        </div>

        <br>

        <p class="sub-info">Afin de respecter la liberté de chacun, chaque moto est équipée d'un GPS avec le road book du jour.
        Chacun est libre d'organiser sa journée comme il le souhaite et de rouler à son rythme...</p>

        <i class="material-icons icon-big">terrain</i>

    </div>

    <p class="bold conclusion-offer ">Mon désir est de partager ma vision du voyage et de l'aventure avec vous. N'hésitez pas à me <%= link_to 'contacter', new_message_path, class:'contact-link' %>, je serais ravie de vous accompagner pour une experience unique et pleine de surprises ! </p>


</div>
