<div class="faq-page">

  <h1>FAQ</h1>

<h4>DELIVERY</h4>
<h5>WHAT ARE THE SHIPPING COSTS?</h5>

The shipping costs in Colissimo are €9 per order for metropolitan France for Preorders.

The shipping costs in Europe are €15 per order.

Shipping costs outside Europe are €20 per order.

<h5>WHAT ARE THE DELIVERY TIMES?</h5>

The delivery time in Colissimo is 3-4 days for France, 3-8 days for the other destinations.

<h5>HOW DO I TRACK MY PARCEL?</h5>

When sending your parcel a confirmation is sent to you by email containing the link to follow the status of your delivery.

<h5>WHAT IF I HAVE NOT RECEIVED MY PARCEL?</h5>

In case of absence from you during delivery, the carrier must normally leave a "notice of passage". On this notice, it is indicated when the carrier is to be ironed or where the parcel has been made available.

Sometimes the carrier does not leave a notice of passage. This is why we advise you to check regularly the status of your delivery via the parcel tracking number that has been forwarded to you.

If your parcel is advertised "delivered" but you have not received it, please check with your custodian or your neighbors if they did not receive it in your place.

If your parcel is announced "returned to Sender", please contact our customer service.



<h4>EXCHANGE</h4>
<h5>HOW DO I EXCHANGE AN ARTICLE?</h5>

If your order is not suitable for you, you can exchange within 15 days of receipt for a size above or below. Just follow the indications of the return sheet that is in your parcel.

If you have lost it or if you need anything else, contact customer service by email (john@asphalte-paris.com) or by phone at 09.54.41.38.25. We'll show you the way forward.

<h5>WHO TAKES CHARGE OF THE RETURN FEE?</h5>

Asphalt takes charge of the postal costs to exchange products for metropolitan France. On the other hand, at the International it is up to the customer to take charge of the return costs.



<h4>THE BRAND</h4>
<h5>WHO ARE WE?</h5>

Asphalt is a French brand, created in 2016 with the launch of its crowdfunding campaign The perfect sweater on ulule.



<h4>THE PRODUCTS</h4>
<h5>WHERE ARE THE PRODUCTS MADE?</h5>

All our products are made in partner companies that we choose carefully. For each product we receive prototypes from several factories and choose the best quality and then propose you to pre-order it on our site.

</div>
