<div class="production-page">

  <h2>Une production éthique et sociale</h2>

  <p>Nous souhaitons agir d’une facon éthique et responsable en produisant localement, avec des matières issues de la filière organique,
    et en plaçant l’humain au coeur de nos priorités.

  <p>Notre engagement est de soutenir des opportunités économiques locales et durables,
    avec des partenaires ayant la meme visioin de l’entreprnariait social que la notre.</p>

  <p>Nous travaillons avec des ateliers a taille humaine, nous entretenons un lien etroit avec les artisans qui construisent la collection avec nous.</p>

  <p>Nous nous engageons à mettre un visage sur les personnes qui fabriquent nos vêtements en prenant part au mouvement Fashion revolution.</p>

  <p class="bold production-page-conclusion">Nous vous proposons des produits uniquement en précommande, la précommande est le moyen le plus efficace de produire au plus juste, sans gaspillage et au meilleur prix.
    Il y a donc un peu d’attente avant d’être livré puisque le produit est confectionné pour vous, après votre commande.</p>

    <%= link_to products_path do %>
      <div class="link-to-products">SEE THE PRODUCTS</div>
      <i class="material-icons arrow-forward">arrow_forward</i>
    <% end %>

</div>
