<div class="shop-page">
  <div class="shop-banner">
    <div class="shop-sub-flexbox">
      <%= link_to 'HOW WE WORK', production_path, class:'shop-subtitle'%>
      <%= link_to 'OUR PRODUCTS', products_path, class:'shop-subtitle'%>
    </div>
  </div>
</div>
