
<div class="product-page">

  <h3> More details coming soon </h3>

  <div class="third-product-banner">
    <div class="product-card">
      <div id='product-component-buy-button-card-3'></div>
      <div class="preorder"><i class="material-icons">lightbulb_outline</i><%= link_to ' why pre-order ?', production_path %></div>
    </div>

    <!-- <div id='product-component-buy-button-3'></div>
    <div class="preorder"><i class="material-icons">lightbulb_outline</i><%#= link_to ' why pre-order ?', production_path %></div> -->
  </div>
</div>

<script>

//SHOPIFY//

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy){
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'mama-moto.myshopify.com',
      apiKey: '1ce906270356d2dcc55065bc52d15e9f',
      appId: '6',
    });

    /////// PRODUCT  ////////

    /////// CARD WITH BUY BUTTON  ////////

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [412798058539],
        node: document.getElementById('product-component-buy-button-card-3'),
        moneyFormat: '%E2%82%AC%7B%7Bamount%7D%7D',
        options: {
          "product": {
            "order": [
              'title',
              'price',
              'description',
              'button'
            ],
            "text":{
              "button": "PREORDER",
              "outOfStock": 'Out of stock',
              "unavailable": 'Unavailable',
            },
            "layout": "vertical",
            "variantId": "all",
            "width": "400px",
            "contents": {
              "img": false,
              "imgWithCarousel": false,
              "variantTitle": false,
              "description": true,
              "buttonWithQuantity": false,
              "quantity": false
            },
            "styles": {
              "product": {
                "img": {
                "border-radius": "10px",
                "box-shadow": "0 4px 4px 0 rgba(0,0,0,0.2)"
                },
                "text-align": "center",
                "@media (min-width: 601px)": {
                  "max-width": "100%",
                  "margin-left": "0",
                  "margin-bottom": "50px"
                }
              },
              "button": {
                "border-radius": "5px",
                "margin-top": "10px !important",
                "color": "white",
                "font-weight": "bold",
                "border": "1px solid black",
                "background-color": "#000000",
                ":hover": {
                  "background-color": "#404040"
                }
              },
              "title": {
                "font-size": "22px",
                "color": "black",
                "font-weight": "bold",
                "font-family": "'Roboto', sans-serif;",
                "margin-top": "20px"
              },
              "price": {
                "font-size": "28px",
                "color": "black",
                "font-family": "'Roboto', sans-serif;",
              },
              "description": {
                "background-color": "#f2f2f2",
                "width": "4000px !important",
                "padding": "5px",
                "text-align": "justify"
              },
              "compareAt": {
                "font-size": "0px"
              }
            }
          },
          "cart": {
            "text":{
              "button": "ORDER"
            },
            "contents": {
              "button": true
            },
            "styles": {
              "button": {
                "font-weight": "bold",
                "background-color": "#000000",
                ":hover": {
                  "background-color": "#404040"
                }
              },
              "footer": {
                "background-color": "#ffffff"
              }
            }
          },
          "toggle": {
            "styles": {
              "toggle": {
                "background-color": "#000000",
                ":hover": {
                  "background-color": "#404040"
                }
              }
            }
          }
        }
      });
    });

    /////// BUY BUTTON ONLY  ////////

    // ShopifyBuy.UI.onReady(client).then(function (ui) {
    //   ui.createComponent('product', {
    //     id: [412798058539],
    //     node: document.getElementById('product-component-buy-button-3'),
    //     moneyFormat: '%E2%82%AC%7B%7Bamount%7D%7D',
    //     options: {
    //       "product": {
    //         "text":{
    //           "button": "PREORDER THE BAG",
    //           "outOfStock": 'Out of stock',
    //           "unavailable": 'Unavailable',
    //         },
    //         "layout": "vertical",
    //         "variantId": "all",
    //         "width": "400px",
    //         "contents": {
    //           "img": false,
    //           "imgWithCarousel": false,
    //           "variantTitle": false,
    //           "description": false,
    //           "buttonWithQuantity": false,
    //           "quantity": false,
    //           "title": false,
    //           "price": false
    //         },
    //         "styles": {
    //           "product": {
    //             "text-align": "center",
    //             "@media (min-width: 601px)": {
    //               "max-width": "100%",
    //               "margin-left": "0",
    //               "margin-bottom": "50px"
    //             }
    //           },
    //           "button": {
    //             "border-radius": "5px",
    //             "width": "100%",
    //             "margin": "30px 0 20px 0 !important",
    //             "color": "white",
    //             "font-weight": "bold",
    //             "border": "1px solid black",
    //             "background-color": "#000000",
    //             ":hover": {
    //               "background-color": "#404040"
    //             }
    //           }
    //         }
    //       },
    //       "cart": {
    //         "text":{
    //           "button": "ORDER"
    //         },
    //         "contents": {
    //           "button": true
    //         },
    //         "styles": {
    //           "button": {
    //             "font-weight": "bold",
    //             "background-color": "#000000",
    //             ":hover": {
    //               "background-color": "#404040"
    //             }
    //           },
    //           "footer": {
    //             "background-color": "#ffffff"
    //           }
    //         }
    //       },
    //       "toggle": {
    //         "styles": {
    //           "toggle": {
    //             "background-color": "#000000",
    //             ":hover": {
    //               "background-color": "#404040"
    //             }
    //           }
    //         }
    //       }
    //     }
    //   });
    // });

  }
})();


</script>
