/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   /*font-family: 'Varela Round', sans-serif;*/
   font-family: 'Roboto', sans-serif;
 }

 body, ul{
   padding: 0;
   margin: 0;
 }

/* Header */

.nav-container {
  width: 100vw;
  height: 100px;
  top: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
  width: 800px;
}

.mama_logo {
  width: 400px;
}

.mama_logo_moto {
  width: 80px;
}

.nav-items {
  height: 100px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-item:hover {
  color: grey;
}

/* Footer */

.footer-container-home {
  position: fixed;
}

.footer-container {
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.socials {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-top: 5px;
}

.social-item {
  width: 45px;
}

.social-item:hover {
    width: 47px;
}

.bottom-line {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20%;
  margin-bottom: 2px;
}

.bottom-line .credits {
  font-size: 10px;
  color: black;
  text-decoration: none;
}

.bottom-line .credits:hover {
  color: grey;
}

/* Home Page */

.container-home-page {

  /*background-image: url(home.jpg);
  min-height: 100%;
  min-width: 1024px;*/
  /* Set up proportionate scaling */
  /*width: 100%;
  height: auto;*/
  /* Set up positioning */
  /*position: fixed;
  background-size: cover;
  left: 0;*/

  background-image: url(home2.jpg);
  background-position: bottom;
  height: 95vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

/* About Page */

.about-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-banner {
  background-image: url('about_page/about_banner.jpg');
  background-position: center;
  height: 80vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-sub-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}

.about-subtitle {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-shadow: 3px 3px #000;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px white solid;
  box-shadow: 1px 1px #000;
  padding: 10px;
  margin: 30px;
}

.about-subtitle:hover {
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  color: white;
}

/* About the road page */

.arrow-back {
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 30px;
  padding: 8px;
  margin-bottom: 10px;
  position: absolute;
  left: 200px;
  top: 175px;
}

.arrow-back:hover {
  color: rgba(0,0,0,0.2);
}

.about-road-page {
  min-height: 1000px;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-road-title {
  color: black;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 37px;
}

.hr-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;;
}

.hr-about-road-title {
  width: 20px;
  height: 2px;
  background-color: black;
  text-align: center;
}

.about-road-page h3 {
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px black solid;
  padding: 10px;
  margin: 30px;
}

.about-road-page p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.about-text-box {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  padding: 10px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-road-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-paris {
  width: 90%;
  border-radius: 2px;
  margin-bottom: 20px;
}

hr {
  color: rgba(0,0,0,0.2) !important;
  width: 400px;
}

.vimeo-player {
  margin-bottom: 50px;
}

.img-map {
  width: 500px;
  border-radius: 10px;
  margin: 10px 0 20px 0;
}

#carousel-1 {
  margin-bottom: 50px;
    margin-top: 30px;
}

.link-marie-claire {
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 10px;
}

.link-marie-claire:hover {
  color: rgba(0,0,0,0.2);
}

.vimeo-player-alt {
  margin-top: 30px;
}

#carousel-2, #carousel-3 {
  width: 1200px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.link-to-top {
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 10px;
}

.link-to-top:hover {
  color: rgba(0,0,0,0.2);
}

/* About the brand page */

.about-brand-page {
  min-height: 1000px;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-brand-title {
  color: black;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 37px;
}

.about-brand-intro {
  margin-top: 10px;
}

.about-brand-page h2 {
  text-transform: uppercase;
  color: black;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px black solid;
  padding: 10px;
  margin: 30px;
}

.about-brand-page p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 1000px;
}

.img-bra {
  border-radius: 2px;
}

.about-brand-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 4px 0px 4px 0px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.about-brand-img-card-right {
  border-radius: 0 3px 3px 0;
  height: 400px;
  width: 500px;
}

.about-brand-img-card-left {
  border-radius: 3px 0 0 3px;
  height: 400px;
  width: 500px;
}


.about-brand-card-description {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-brand-card-description p {
  width: 400px;
}

/* Adventure Page */

.adventure-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adventure-banner {
  background-image: url('adventure_page/adventure_banner.jpg');
  background-position: center;
  height: 80vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.adventure-sub-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 60%;
  flex-wrap: wrap;
}

.adventure-subtitle {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-shadow: 3px 3px #000;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px white solid;
  box-shadow: 1px 1px #000;
  padding: 10px;
  margin: 20px;
}

.adventure-subtitle:hover {
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  color: white;
}

.adventures-pages{
  min-height: 1000px;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* adventure road page */

.adventure-title {
  color: black;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 37px;
}

.hr-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.hr-adventure-title {
  width: 20px;
  height: 2px;
  background-color: black;
  text-align: center;
}

.adventures-pages h3 {
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px black solid;
  padding: 10px;
  margin: 30px;
}

.adventures-pages p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
}


.adventure-text-box {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-top-adventure-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-top-adventure {
  width: 90%;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);*/
  border-radius: 2px 2px 2px 2px;
}

.img-middle-adventure-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-middle-adventure {
  border-radius: 2px 2px 2px 2px;
  height: 150px;
  width: 80%;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);*/
}

.row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  padding: 4px 20px 4px 20px;
  width: 400px;
  text-align: justify;
}

.small-img {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  flex-grow: 2;
}

.conclusion {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

/* Adventure offer page */

.mama-offer-box {
  width: 800px;
}

.bold {
  font-weight: bold !important;
}

.card-mama-offer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px 50px 20px 50px;
  width: 800px;
  text-align: justify;
  margin-bottom: 20px;
}

.adventures-pages li  {
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
}

.adventures-pages .material-icons {
  vertical-align: middle;
  font-size: 24px;
  margin-right: 15px;
  color: black;
}

.icon-big {
  font-size: 64px !important;
}

.sub-info {
  font-size: 14px !important;
  margin-bottom: 20px !important;
}

.adventures-pages .contact-link {
  text-decoration: underline;
  color: black;
}

.adventures-pages .contact-link:hover {
  color: red;
}

.conclusion-offer {
  margin: 20px 0 40px 0 !important;
  font-size: 16px !important;
  width: 800px;
}


/* Shop Page */

.shop-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-banner {
  background-image: url('shop_page/shop_banner.jpg');
  background-position: center;
  height: 80vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.shop-sub-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 60%;
  flex-wrap: wrap;
}


.shop-subtitle {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-shadow: 3px 3px #000;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px white solid;
  box-shadow: 1px 1px #000;
  padding: 10px;
  margin: 20px;
}

.shop-subtitle:hover {
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  color: white;
}

/* Production Page */

.production-page{
  min-height: 1000px;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.production-page h2 {
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px black solid;
  padding: 10px;
  margin: 50px 30px 30px 30px;
}
.production-page p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
  text-align: justify;
}

.production-page-conclusion {
  text-align: center !important;
}

.link-to-products {
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin: 50px 0 10px 0;;
  line-height: 1.2;
  text-decoration: none;
}

.arrow-forward {
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 30px;
  padding: 8px;
  margin-bottom: 10px;
}

.production-page a {
  text-decoration: none;
}

.production-page a:hover {
  text-decoration: underline;
  color: black;
}

/*Products Page */

.products-page {
  min-height: 1000px;
  height: 100%;
  text-align: center;
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-products-banner {
  background-image: url('shop_page/bags_banner.jpg');
  justify-content: flex-start;
  margin-top : 0 !important;
}

.second-products-banner {
  background-image: url('shop_page/clothing_banner.jpg');
  justify-content: flex-end;
}

.third-products-banner {
  background-image: url('shop_page/accessories_banner.jpg');
  justify-content: flex-start;
  margin-bottom: 0 !important;
}

.fourth-products-banner {
  background-image: url('shop_page/accessories_banner.jpg');
  justify-content: flex-start;
  margin-bottom: 0 !important;
}

.first-products-banner , .second-products-banner, .third-products-banner, .fourth-products-banner {
  background-position: center;
  height: 80vw;
  max-height: 800px;
  background-size: cover;
  width: 100vw;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.products-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  width: 600px;
  border-radius: 15px;
  margin: 5%;
}

.image-products-card {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  border: 5px solid white;
}

.products-title-banner {
  color: white;
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-shadow: 3px 3px #000;
  margin-bottom: 20px;
  line-height: 1.2;
}
.discover-title {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-shadow: 3px 3px #000;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px white solid;
  box-shadow: 1px 1px #000;
  padding: 10px;
  margin-top: 30px;
}

.discover-title:hover {
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  color: white;
}














/* Product page */

.product-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-product-banner {
  background-image: url('shop_page/first_product/tankwa.jpg');
  background-position: center;
  height: 100vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.second-product-banner {
  background-image: url('shop_page/second_product/karoo.jpg');
  background-position: center;
  height: 100vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 4px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: 350px;
  height: 320px;
  border-radius: 5px;
  margin: 150px;
  background-color: white;
}

.lifestyle-img {
  width: 400px;
  border-radius:50%;
  margin: 30px 0 30px 0;
}

.bags-text {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bags-text-intro {
  margin: 0 0 20px 0;
  color: black;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.1rem;
  line-height: 28px;
  max-width: 1000px;
}

.bags-text p, .bags-media p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 1000px;
}

.bags-text h4, .bags-media h4 {
  text-transform: uppercase;
  color: black;
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 0.4rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  padding: 10px;
  margin: 30px;
}

.bags-media {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bags-media h3{
  text-transform: uppercase;
  color: black;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px black solid;
  padding: 10px;
  margin: 30px 30px 30px 30px;
}

.bags-media li {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 1000px;
  width: 400px;
}

.bags-media-card {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.bags-media-img-card-right {
  border-radius: 0 3px 3px 0;
  height: 350px;
  width: 500px;
}

.bags-media-img-card-left {
  border-radius: 3px 0 0 3px;
  height: 350px;
  width: 500px;
}

.bags-media-card-description {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bags-media-card-description p {
  width: 400px;
}

.subtitle-gallery-bags {
  margin-top: 100px !important;
}

.gallery-bags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 30px;
}

.row-1, .row-2, .row-3, .row-4, .row5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
}

.row-1-pic-1 , .row-1-pic-2{
  width: 490px;
  padding-top: 10px;
}

.row-2-pic-1, .row-2-pic-2, .row-2-pic-3 {
  width: 323px;
  padding-top: 10px;
}

.box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-3-pic-1 {
  height: 500px;
  width: 640px;
  padding-top: 10px;
}

.row-3-pic-2, .row-3-pic-3 {
  width: 340px;
  height: 250px;
  padding-top: 10px;
}

.row-4-pic-1, .row-4-pic-2 {
  width: 490px;
  padding-top: 10px;
}

.description-bags-production {
  margin-top: 50px;
}

.preorder .material-icons {
  vertical-align: middle;
  font-size: 14px;
}

.preorder a {
  color: black;
  font-size: 10px;
  letter-spacing: 0.3rem;
}




/* Contact Page */

.contact-form-page {
  /*width: 100vw;*/
  /*height: 80vh;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-banner {
  background-image: url('contact_page/test_1.jpg');
  background-position: center;
  height: 80vh;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  max-width:600px;
	width:100%;
  max-height: 600px;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-top: 15px;
}

.form-title {
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.6rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  border: 3px black solid;
  padding: 10px;
  margin: 10px 30px 10px 30px;
  text-align: center;
}

.form-paragraph {
  text-align: center;
  margin-top: 30px;
}

.new_message {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-fields-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 350px;
}

.new_message input, .new_message textarea {
  border: black;
  border-radius: 5px;
  width:500px;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  margin-bottom: 20px;
}

.new_message textarea {
  height: 100px;
}

.new_message input[type="submit"] {
  width: 150px;
}

.new_message input[type="submit"]:hover {
  color: white;
  background-color: black;
  font-weight: bold;
}



/* FAQ Page */

.faq-page {
  min-height: 1000px;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
}

.faq-page h1 {
  text-align: center;
}
